<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/common.css">
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>Éditeur de profil</title>
</head>
<body>
    <!-- EN-TÊTE -->
    <header>
        <!--- Logo du site -->
        <img class="logo" src="img/logo.png">
        <!-- Barre de navigation -->
        <nav>
            <!-- Liens des pages -->
            <div class="main_pages">
                <p>Éditeur de profil</p>
            </div>
        </nav>
    </header>

    <!-- CONTENU PRINCIPAL -->
    <main class="centered">
        <h1>Votre profil a été modifié avec succès !</h1>
        <a href="/logout">❌ Se déconnecter</a>
        <br>
        <a href="https://srvweb.saint-james.fr:3001">🌍 Retourner sur l'intranet</a>
        <br>
        <a href="/">✏️ Retour à l'édition</a>
    </main>
</body>
</html>